anyio==4.11.0
apparmor==4.0.3
appdirs==1.4.4
apsw==3.50.4.0
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asciidoc==10.2.1
asttokens==3.0.0
attrs==25.4.0
Automat==25.4.16
beautifulsoup4==4.14.3
bleach==6.3.0
CacheControl==0.14.3
certifi==3024.7.22
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
colorama==0.4.6
comm==0.2.3
constantly==23.10.4
cryptography==46.0.6
css-parser==1.0.10
cssselect==1.3.0
Cython==3.1.7
decorator==5.2.1
defusedxml==0.8.0rc2
dependency-groups==1.3.1
Deprecated==1.3.1
distlib==0.4.0
distro==1.9.0
dnspython==2.8.0
docutils==0.22.4
eclean-kernel==2.99.10
editables==0.5
executing==2.2.1
fastjsonschema==2.21.2
feedparser==6.0.12
filelock==3.20.3
flit_core==3.12.0
fonttools==4.61.1
fqdn==1.5.1
gdbus_codegen==2.84.4
gemato==20.12
Glances==4.1.2.1
h11==0.16.0
hatch-fancy-pypi-readme==25.1.0
hatch-jupyter-builder==0.9.1
hatch-nodejs-version==0.4.0
hatch-vcs==0.5.0
hatchling==1.27.0
html2text==2025.4.15
html5-parser==0.4.12
html5lib==1.2.dev0
hyperlink==21.0.0
idna==3.11
ifaddr==0.2.0
Incremental==24.11.0
installer==0.7.0
ipykernel==6.31.0
ipyparallel==9.0.2
ipython==9.9.0
ipython_pygments_lexers==1.1.1
isodate==0.7.2
isoduration==20.11.0
jaconv==0.4.1
jaraco.collections==5.2.1
jaraco.context==6.1.0
jaraco.functools==4.4.0
jaraco.text==4.0.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
lark==1.3.1
LibAppArmor==4.0.3
libvirt-python==11.10.0
linkify-it-py==2.0.3
lockfile==0.12.2
lxml==6.0.2
lxml_html_clean==0.4.4
Mako==1.3.10
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
maturin==1.12.6
mdurl==0.1.2
mechanize==0.4.10
meson==1.9.2
meson-python==0.19.0
mistune==3.2.0
more-itertools==10.8.0
msgpack==1.1.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
netifaces==0.11.0
notify2==0.3.1
numpy==2.3.2
olefile==0.47
orjson==3.11.5
outcome==1.3.0.post0
packaging==26.0
pandocfilters==1.5.1
parso==0.8.5
pathspec==1.0.4
pbr==7.0.3
pdm-backend==2.4.6
pexpect==4.9.0
pillow==12.1.1
platformdirs==4.5.0
pluggy==1.6.0
ply==3.11
podman-compose==1.5.0
poetry-core==2.3.0
portage==3.0.77
prometheus_client==0.23.1
prompt_toolkit==3.0.52
protonup==0.1.5
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyaml==25.7.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybind11==3.0.1
pycairo==1.29.0
pychm==0.8.6
pycountry==24.6.1
pycparser==2.23
pycryptodome==3.23.0
Pygments==2.19.2
PyGObject==3.50.1
pykakasi==2.3.0
pymountboot==0.2.3
pyOpenSSL==25.3.0
pyparsing==3.3.2
pyproject-metadata==0.10.0
pyproject_hooks==1.2.0
PyQt-builder==1.19.1
PyQt6==6.10.2
PyQt6-WebEngine==6.10.0
PyQt6_sip==13.11.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
pyxdg==0.28
PyYAML==6.0.3
pyzmq==27.1.0
qtconsole==5.7.0
QtPy==2.4.3
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
resolvelib==1.2.1
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
rich==14.2.0
rpds-py==0.30.0
scikit_build_core==0.11.6
scour==0.38.2
Send2Trash==2.1.0
service-identity==24.2.0
setuptools==80.9.0
setuptools-scm==9.2.2
sgmllib3k==1.0.0
sip==6.15.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
stack_data==0.6.3
streamlink==8.1.2
strict-rfc3339==0.7
terminado==0.18.1
tinycss2==1.5.1
tomli_w==1.2.0
tomlkit==0.14.0
tornado==6.5.5
tqdm==4.67.1
traitlets==5.14.3
trio==0.32.0
trio-websocket==0.12.2
trove-classifiers==2026.1.14.14
truststore==0.10.4
Twisted==25.5.0
typing_extensions==4.15.0
tzdata==10001
uc-micro-py==1.0.3
ufw==0.36.2
unrardll==0.1.7
uri-template==1.3.0
urllib3==2.6.3
versioneer==0.29
virtualenv==20.34.0
wcwidth==0.3.2
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.46.2
wrapt==1.17.3
wsproto==1.3.2
xmltodict==1.0.2
xxhash==3.6.0
yq==3.4.3
yt-dlp==2026.3.17
yt-dlp-ejs==0.8.0
zeroconf==0.148.0
zope.interface==8.2
